@font-face {
	font-family: "Cardo-Bold";
	src: url("./fonts/Cardo-Bold.ttf");
}

@font-face {
	font-family: "Cardo-Italic";
	src: url("./fonts/Cardo-Italic.ttf");
}

@font-face {
	font-family: "Cardo";
	src: url("./fonts/Cardo-Regular.ttf");
}

h1 {
	font-family: Cardo;
}
